<form class="form" action="/users/" method="post">
  <div class="field">
    <label class="label">Username: </label>
    <div class="control">
      <input class="input" type="text" name="username">
    </div>
  </div>

{{{error}}}

  <div class="control">
    <button type="submit" class="button is-success">Submit</button>

  </div>
</form>